ETHEREUM_MAINNET_PROVIDER_URL="https://eth-mainnet.g.alchemy.com/v2/1eC-zn3q0C2GEUzljDs2RLluvwxQRtAI"
BITTENSOR_MAINNET_PROVIDER_URL="wss://archive.chain.opentensor.ai:443"
BITTENSOR_WEB3_PROVIDER_URL="wss://lite.chain.opentensor.ai"
WANDB_API_KEY=3d50995bc01ec930a7cb58a07bc611551eb598f4
UNISWAP_POS_OWNER_KEY="2i wwi"